/* DESKTOP*/

body {
  margin: 50px;
}

body,
.message,
.input-form,
.btn-generate {
  font-family: "Roboto Mono", monospace;
}

.nav .fizzbuzz,
.form-label,
.label-output,
.statistic,
.statistic-label,
.statistic-text {
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.bee {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}

.fizzbuzz {
  font-size: 38px;
}

.logo {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}

.form-box {
  background-color: #e8e8e8;
  border-radius: 16px;
  padding: 20px;
  width: 45%;
  max-width: 600px;
  height: 130px;
}

.text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.input-form {
  font-size: 16px;
  background-color: #fffffd;
  border: 1px solid #f29f07;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
}

.btn-generate {
  font-size: 16px;
  color: white;
  background-color: #f29f07;
  letter-spacing: 1px;
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.output {
  margin-top: 70px;
}

.label-output {
  font-size: 16px;
}

.output-box {
  background-color: #fffffd;
  border: 1px solid #f29f07;
  border-radius: 8px;
  height: 96px;
  margin-top: 10px;
  /* padding: 8px, 16px, 8px, 16px; */
}

.output-text {
  font-size: 16px;
  margin-left: 10px;
}

.container-statistics {
  margin-top: 200px;
}

.statistic {
  font-size: 16px;
}

.statistic-label {
  font-size: 14px;
  margin-top: 20px;
}

.statistics-column {
  background-color: #f29f07;
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin-top: 5px;
}

.statistic-text {
  color: #fffffd;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE */
@media (min-width: 390px) and (max-width: 767px) {
  body {
    margin: 20px;
  }

  .bee {
    width: 35px;
  }

  .fizzbuzz {
    font-size: 24px;
  }

  .logo {
    width: 35px;
  }

  .container {
    margin-top: 10px;
  }

  .form-box {
    width: 100%;
    height: 210px;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .input-form {
    width: 95%;
    margin-bottom: 10px;
    padding: 8px;
  }

  .btn-generate {
    width: 100%;
    margin-top: 10px;
  }

  .output {
    margin-top: 45px;
  }

  .output-box {
    margin-top: 10px;
  }

  .container-statistics {
    margin-top: 50px;
  }

  .statistic-label {
    margin-top: 15px;
  }

  .statistics-column {
    width: 100%;
    height: 116px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .statistic-text {
    font-size: 24px;
  }
}
